body{
    color:black;
}

#container{
    width: 1200px;
    background-color:coral;
    height: 80vh;
    margin:auto;
    padding-left: 200px;
    padding-top: 30px;
}


.button{
    text-align: center;
    margin: 4px 2px;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    font-size: medium;
    border: 2px solid beige;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button:hover{
    color:coral;
    background-color:antiquewhite;
}


